<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Secured</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">



		<div class="container">


			<h6 class="mb-3">Restaurant Order Details</h6>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th scope="col">Order Id</th>
							<th scope="col">Order Details</th>
							<th scope="col">Date</th>
							<th scope="col">Amount</th>
						</tr>
					</thead>
					<tbody>


						<tr th:each="order : ${orders}">
							<td scope="row">
								<a th:href="@{/restaurant/orderdetails(orderId=${order.orderId})}" th:text="${order.orderId}"></a>
							</td>
							<td scope="row">
								<a th:href="@{/restaurant/orderdetails(orderId=${order.orderId})}" th:text="${order.orderDetais}"></a>
							</td>
							<td>
								<a th:href="@{/restaurant/orderdetails(orderId=${order.orderId})}" th:text="${order.orderDate}"></a>
							</td>
							<td>
								<a th:href="@{/restaurant/orderdetails(orderId=${order.orderId})}"  th:text="${order.amount}"></a>
							</td>
						</tr>

						<tr>
							<td colspan="3">Total</td>
							<td th:text="${grandTotal}"></td>
						</tr>
					</tbody>
				</table>
			
			<div class="mb-4"></div>
		<!-- Button trigger modal -->




		</div>

	</div>

</body>

</html>